$bg-color: #252525;
$dark-bg-color: #1a1a1a;
$lighter-bg-color: #2f2f2f;
$font-color: white;
$red: #ff0000;
$yellow: #ffff00;

:root {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    * {
      color: $font-color;
    }
    margin: 0;
    padding: 0;
    background-color: $bg-color;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: $dark-bg-color;
    font-size: 3rem;

    button {
      background: $bg-color;
      font-size: 3rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background: $lighter-bg-color;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.4rem;
  width: max-content;

  .title {
    font-size: 3rem;
  }

  .point-inputs {
    border: 0.5rem solid $dark-bg-color;
    th {
      width: 12rem;
      border: 0.5rem solid $dark-bg-color;
      height: 6rem;
      background: $lighter-bg-color;

      &.score {
        width: 18rem;
      }
    }
    .point-input {
      font-size: 2.4rem;
      gap: 1rem;

      button {
        background: $bg-color;
        font-size: 2.4rem;
        width: 3.5rem;
        border-radius: 50%;

        &:hover {
          background: $dark-bg-color;
        }
      }

      input {
        font-size: 2.4rem;
        background: $dark-bg-color;
        outline: none;
        border: none;
        text-align: center;
        width: 7rem;
        padding: 0.6rem;
        border-radius: 0.5rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    select {
      background: $dark-bg-color;
    }

    .remain {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .point-remain {
        margin: 0;
      }

      .warning,
      .reminder {
        margin: 0;
        color: $red;
        font-size: 1.2rem;
      }

      .reminder {
        color: $yellow;
      }
    }
  }
}

.main {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  #character-creator {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    .stages-nav {
      background: rgb(60, 60, 60);
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
      box-sizing: border-box;

      .stage-link {
        background: none;
        border: none;
        text-transform: uppercase;
        font-size: 2rem;

        &.active {
          text-decoration: underline;
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
